<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirstGithubTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D15FB341DE7C308004CFE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D15FB481DE7C309004CFE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D15FB531DE7C309004CFE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
